body {
    background-color: #ffffff;
    overflow-y: scroll;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#nowrap {
flex-wrap: nowrap;
}

.screen {
    width: auto;
    overflow-x: scroll;
}

.bottle {
    background-color: #AE9C45;
    border: 1px solid black;
    height: fit-content;
    margin-top: 25px;
}